/* =====================
   CURRENT WEATHER
===================== */
.current-weather {
  width: 100%;
  height: 100%;
}

.cw-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-size: 20px;
  opacity: 0.85;
  display: inline;
  margin-right: 14px;
}

.date {
  font-size: 13.6px;
  opacity: 0.65;
}

.temp {
  font-size: clamp(32px, 6vw, 48px);
  margin: 8px 0;

  background: linear-gradient(90deg, #FFCC66, #66CCCC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.condition {
  opacity: 0.75;
}

.cw-main img {
  width: clamp(80px, 18vw, 130px);
}

.cw-extra {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  opacity: 0.75;
  font-size: 14.4px;
}


/* =====================
   CARD BASE
===================== */
.card {
  z-index: -1;
  background: linear-gradient(145deg, #1d493e, #0a2f26);
  border-radius: 22px;
  padding: 24px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}


/* =====================
   GLOBAL TRANSITIONS
===================== */
.card,
.forecast-card,
.highlight-card {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}


/* =====================
   CARD HOVER EFFECT
===================== */
.card:hover {
  transform: translateY(-6px) scale(1.01);
  background: linear-gradient(145deg, #0f4b3a, #07be8b);
  box-shadow: 0 8px 16px rgba(29, 191, 132, 0.35);
}

/*FAVOURITES BUTTON*/
.favourites-btn {
  display: inline;
  padding: 12px 12px;
  border-radius: 50%;
  border: none;
  background: #1dbf84;
  color: #003b2a;
  cursor: pointer;
}

.favourites-btn{
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background 0.15s ease;
}

.favourites-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(29, 191, 132, 0.35);
}

.favourites-btn:active {
  transform: translateY(0);
}



/*MEDIA QUERY* - TABLET*/
@media (max-width: 768px){
  .cw-main {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }

  .cw-extra {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

/*MEDIA QUERY* - MOBILE*/
@media (max-width: 425px){
  .temp {
    font-size: 32px; 
  }

  .city {
    font-size: 14.4px;
  }

  .date {
    font-size: 12px;
  }

  .cw-main img {
    width: 60px;
  }

  .cw-extra {
    font-size: 12px;
    gap: 4px;
  }
}



