/* =====================
   CURRENT WEATHER
===================== */
.current-weather {
  width: 100%;
}

.cw-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-size: 1.1rem;
  opacity: 0.85;
}

.date {
  font-size: 0.85rem;
  opacity: 0.65;
}

.temp {
  font-size: clamp(2rem, 6vw, 3rem);
  margin: 0.5rem 0;

  background: linear-gradient(90deg, #FFCC66, #66CCCC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.condition {
  opacity: 0.75;
}

.cw-main img {
  width: clamp(80px, 18vw, 130px);
}

.cw-extra {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  opacity: 0.75;
  font-size: 0.9rem;
}


/* =====================
   CARD BASE
===================== */
.card {
  background: linear-gradient(145deg, #1d493e, #0a2f26);
  border-radius: 22px;
  padding: 1.5rem;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}


/* =====================
   GLOBAL TRANSITIONS
===================== */
.card,
.forecast-card,
.highlight-card {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}


/* =====================
   CARD HOVER EFFECT
===================== */
.card:hover {
  transform: translateY(-6px) scale(1.01);
  background: linear-gradient(145deg, #0f4b3a, #07be8b);
  box-shadow:
    0 10px 30px rgba(#07be8b, #07be8b, #07be8b, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(29, 191, 132, 0.35);
}


/*MEDIA QUERY* - TABLET*/
@media (max-width: 768px){
    /* CURRENT WEATHER */
  .cw-main {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .cw-extra {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

/*MEDIA QUERY* - MOBILE*/
@media (max-width: 425px){
  .temp {
    font-size: 2rem; /* shrink big temperature */
  }

  .city {
    font-size: 0.9rem;
  }

  .date {
    font-size: 0.75rem;
  }

  .cw-main img {
    width: 60px;
  }

  .cw-extra {
    font-size: 0.75rem;
    gap: 0.25rem;
  }
}