/* =====================
   CURRENT WEATHER
===================== */
.error-message {
  width:max-content;
}

.er-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =====================
   CARD BASE
===================== */
.error-message{
  z-index: -1;
  background: linear-gradient(145deg, #1d493e, #0a2f26);
  border-radius: 22px;
  padding: 24px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}


/* =====================
   CARD HOVER EFFECT
===================== */
.error-message:hover {
  transform: translateY(-6px) scale(1.01);
  background: linear-gradient(145deg, #0f4b3a, #07be8b);
  box-shadow: 0 8px 16px rgba(29, 191, 132, 0.35);
}


/*MEDIA QUERY* - TABLET*/
@media (max-width: 768px){
  .er-main {
    text-align: center;
    gap: 16px;
  }
}

/*ERROR MESSAGE CSS*/
.error{
  font-size: 20px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(145deg, #854b30, #ff3300);
  box-shadow:
    0 10px 30px rgba(#f09e9e, #f09e9e, #f09e9e, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
}

.error:hover{
  background: linear-gradient(145deg, #854b30, #ff3300);
  box-shadow: 0 8px 16px rgba(190, 126, 30, 0.35);
}